@font-face {
    font-family: 'roman_sdregular';
    src: url('Fonts/romanFont/roman_sd-webfont.woff2') format('woff2'),
         url('Fonts/romanFont/roman_sd-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
 }

#convertButton {
    font-family: 'roman_sdregular';
    font-size: small;
}

#numero_error {
    font-family: 'roman_sdregular';
    font-size: small;
}

#inputRomanos {
    font-family: 'roman_sdregular' !important;
    font-size: small;
    margin-left: 2%;
}

#inputDecimal {
    font-family: 'roman_sdregular' !important;
    font-size: small;
    margin-left: 2%;
}

img {
    width: 100%;
    height:auto;
}

body {
    background-image: url('Assets/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* reset de margens */
* {
    margin: 0;
    padding:0;
}


#site {
    position: absolute;
    top: 15%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background: #FFF; /* fundo branco para navegadores que não suportam rgba */
    background: rgba(255,255,255,0.8); /* fundo branco com um pouco de transparência */
}




